<div class="container container d-flex justify-content-center flex-column min-vh-100">
    <h1 class=" display-1 row justify-content-md-center mb-5"> CREA UTENTE </h1>
    <div class="row justify-content-md-center">
        <form class="col-6">
            <div class="input-group input-group-sm mb-4">

                <input name="nome" [(ngModel)]="utenteDTO.nome" type="text" class="form-control" placeholder="Nome"
                    (blur)="utenteDTO.nomeUtenteValidate()">
                @if (!!this.utenteDTO.nomeError) {
                <p style="color:red" class="invalid-feedback d-block">{{utenteDTO.nomeError}}</p>
                }
            </div>
            <div class="input-group input-group-sm mb-4">

                <input name="cognome" [(ngModel)]="utenteDTO.cognome" type="text" class="form-control"
                    placeholder="Cognome" (blur)="utenteDTO.cognomeUtenteValidate()">
                @if (!!this.utenteDTO.cognomeError) {
                <p style="color:red" class="invalid-feedback d-block">{{utenteDTO.cognomeError}}</p>
                }
            </div>
            <div class="input-group input-group-sm mb-4">
                <label class="input-group-text">Data di Nascita</label>
                <input name="dataNascita" [(ngModel)]="utenteDTO.dataNascita" type="date" class="form-control"
                    (blur)="utenteDTO.dataNascitaUtenteValidate()">
                @if (!!this.utenteDTO.dataNascitaError) {
                <p style="color:red" class="invalid-feedback d-block">{{utenteDTO.dataNascitaError}}</p>
                }
            </div>

            <div class="input-group input-group-sm mb-4">
                <input name="codiceFiscale" [(ngModel)]="utenteDTO.codiceFiscale" type="text" class="form-control"
                    placeholder="Codice Fiscale" (blur)="utenteDTO.codiceFiscaleUtenteValidate('')">
                @if (!!this.utenteDTO.codiceFiscaleError) {
                <p style="color:red" class="invalid-feedback d-block">{{utenteDTO.codiceFiscaleError}}</p>
                }
            </div>


            <div class="input-group input-group-sm mb-4">
                <input name="password" [(ngModel)]="utenteDTO.password" type="password" class="form-control"
                    placeholder="Password" (blur)="utenteDTO.passwordUtenteValidate()">
                @if (!!this.utenteDTO.passwordError) {
                <p style="color:red" class="invalid-feedback d-block">{{utenteDTO.passwordError}}</p>
                }
            </div>
            <div class="input-group input-group-sm mb-4">
                <input name="confermaPassword" [(ngModel)]="confermaPassword" type="password" class="form-control"
                    placeholder="Conferma Password">
                @if (confermaPassword !== utenteDTO.password) {
                <p style="color:red" class="invalid-feedback d-block">Le password non coincidono</p>
                }
            </div>

            @if (auth.getLivelloPermessi() === 'ROLE_1'){
            <div class="input-group input-group-sm mb-4">
                <label class="input-group-text">Livello Permessi</label>
                <select name="livelloPermessi" [(ngModel)]="utenteDTO.livelloPermessi" class="form-select">
                    <option value="3">Utente</option>
                    <option value="2">Gestore</option>
                    <option value="1">Admin</option>
                </select>
                @if (!!this.utenteDTO.livelloPermessiError) {
                <p style="color:red" class="invalid-feedback d-block">{{utenteDTO.livelloPermessiError}}</p>
                }
            </div>
            }
            <div class="d-flex justify-content-md-center gap-3 mb-4 mt-5">
                <button type="submit" (click)="salvaUtente()" class="btn btn-primary btn-sm">Crea</button>
                <button type="button" (click)="resetForm()" class="btn btn-primary btn-sm">Reset</button>

                <button type="button" (click)="VaiAPaginaPrecedente()" class="btn btn-danger btn-sm">
                    Home
                </button>



            </div>

        </form>
    </div>
</div>