<app-nav-layout></app-nav-layout>

<div class="container-fluid mt-4">
    <table class="table table-hover align-middle text-center">
        <thead>
            <tr>
                <th class="col-2">N. Prenotazione</th>
                <th class="col-1">Utente</th>
                <th class="col-1">Camera</th>
                <th class="col-2">Data inizio</th>
                <th class="col-2">Data fine</th>
                <th class="col-2">Importo totale</th>
                <th class="col-2 text-end">Azioni</th>
            </tr>
        </thead>
        <tbody>

            @for (prenotazione of prenotazioni; track prenotazione.codicePrenotazione) {
            <tr>
                <td>{{ prenotazione.codicePrenotazione }}</td>
                <td>{{ prenotazione.codiceUtente }}</td>
                <td>{{ prenotazione.codiceCamera }}</td>
                <td>{{ prenotazione.dataInizio }}</td>
                <td>{{ prenotazione.dataFine }}</td>
                <td>€{{ prenotazione.costoComplessivo }}</td>
                <td class="text-end">
                    @if (auth.isGestore()) {
                    <button class="btn btn-primary btn-sm me-2"  ngbPopover="Modifica"  triggers="hover focus"  (click)="vaiAllUpdatePrenotazione(prenotazione)">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    }
                    <button class="btn btn-danger btn-sm" ngbPopover="Cancella"  triggers="hover focus" (click)="deletePrenotazione(prenotazione)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
            } @empty {
            <tr>
                <td colspan="7" class="text-center text-muted py-4">
                    Non hai ancora effettuato nessuna prenotazione
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-md-center gap-3 mb-4 mt-5">
    <button type="button" ngbPopover="Torna alla home"  triggers="hover focus" (click)="VaiAHome()" class="btn btn-danger btn-sm">
        <i class="bi bi-house fs-4"></i>
    </button>
    <button class="btn btn-primary" ngbPopover="Inserisci una prenotazione"  triggers="hover focus" (click)="vaiAlCreaPrenotazione()">
     <i class="bi bi-plus-lg fs-4"></i>
    </button>
</div>