<app-nav-layout></app-nav-layout>

@if (this.auth.isGestore()) {

<div class="container d-flex justify-content-center flex-column vh-100" style="font-family:'Roboto', sans-serif">

    <h1 class="row justify-content-md-center mb-5"> CREA CAMERA </h1>

    <div class="row justify-content-md-center">

        <app-form-layout submitLabel="Crea" (formSubmit)="salvaCamera()" (formReset)="resetForm()"
            (formBack)="VaiAPaginaPrecedente()">

            <div class="input-group mb-4">
                <select class="form-select" aria-label="Default select example" id="numero" name="numero"
                    [(ngModel)]="cameraDTO.postiLetto" #postiLetto="ngModel" class="form-control">

                    <option [value]="null" selected disabled>Posti letto</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
                <app-form-error [error]="cameraDTO.postiLettoError" />
            </div>

            <div class="input-group mb-4">
                <select id="tipologia" class="form-select" [(ngModel)]="cameraDTO.tipologia" name="tipologia">
                    <option [ngValue]="null" disabled selected>Seleziona tipologia camera</option>
                    @for (tipo of tipologie; track tipo) {
                    <option [ngValue]="tipo">{{ tipo }}</option>
                    }
                </select>
                <app-form-error [error]="cameraDTO.tipologiaError" />
            </div>

            <div class="input-group mb-4">
                <span class="input-group-text fs-5" id="inputGroupPrepend">€</span>
                <input type="text" name="tariffa" class="form-control" aria-label="Amount (to the nearest dollar)"
                    [(ngModel)]="cameraDTO.tariffa" #tariffa="ngModel" placeholder="Tariffa">
                <app-form-error [error]="cameraDTO.tariffaError" />
            </div>

        </app-form-layout>

    </div>
</div>

} @else {

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card shadow text-center p-4" style="max-width: 500px;">
        <div class="card-body">

            <h1 class="display-1 text-danger">⚠️</h1>

            <h2 class="card-title mb-3">Si è verificato un errore</h2>

            <p class="card-text text-muted">
                Non hai i permessi per accedere a questa pagina.<br>Torna alla pagina principale.
            </p>
            <button class="btn btn-danger mt-3" (click)="VaiAHome()">
                Torna alla Home
            </button>

        </div>
    </div>
</div>

}