<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">HOMEPAGE @if (isGestore){ • GESTORE} @if(isAdmin){ •
            Admin} </a>
        </li>
        @if (!auth.isLoggedIn()) {
        <li class="nav-item">
          <a class="nav-link" (click)="openLogin()">Effettua Login</a>
        </li>
        }
        @if (auth.isLoggedIn()) {
        <li class="nav-item dropdown" (mouseenter)="openDropdown()" (mouseleave)="closeDropdown()">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Benvenuto {{ auth.currentUser()}}
          </a>
          <ul class="dropdown-menu" [class.show]="dropdownOpen()">
            <li><a class="dropdown-item" (click)="vaiUpdateUtente()">Modifica</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="auth.logout()">Logout</a></li>
          </ul>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>

<!-- 
<div id="myCarousel" class="position-relative carousel slide" style="z-index: 1;" data-bs-ride="true">

  <div class="carousel-inner mh-75">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="https://i.pinimg.com/736x/62/98/a2/6298a2186ad0e6133ceb9c8bd457b175.jpg" class="d-block w-100 h-100"
        alt="Foto 1">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://i.pinimg.com/1200x/28/af/b1/28afb1f24d9f50182b17d592e25f72bd.jpg" class="d-block w-100 h-100"
        alt="Foto 2">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://i.pinimg.com/1200x/b0/57/75/b05775e934068be0f50b44bbaa789b0a.jpg" class="d-block w-100 h-100"
        alt="Foto 3">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://i.pinimg.com/1200x/4d/a3/5c/4da35c0d84177bb057c09599fd2509a3.jpg" class="d-block w-100 h-100"
        alt="Foto 4">
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>


  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"></button>
  </div>

</div> -->


<div
  class="container-fluid position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center"
  style="z-index: 10; pointer-events: none">
  <div class="row row-cols-1 w-100 row-cols-md-2 g-4 justify-content-center">

    @if (isGestore){
    <div class="col-md-3 d-flex">
      <div class="card text-center w-100 h-100 border-black" style="pointer-events: auto;">
        <img src="https://i.pinimg.com/736x/df/e3/bb/dfe3bbbd4ebcfc75605b57a8ebc2776e.jpg"
          class="card-img-top mx-auto mt-3" style="width: 150px; height: 150px; object-fit: cover;">
        <div class="card-body d-flex flex-column">
          <button type="button" (click)="vaiAlCreaCamera()" class="btn btn-danger w-75 mx-auto">
            Inserisci una nuova camera
          </button>
          <a class="icon-link icon-link-hover d-inline-flex mx-auto mt-3"
            style="--bs-icon-link-transform: translate3d(0, -.125rem, 0); cursor: pointer;" (click)="vaiAListaCamere()">
            <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
              <path
                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
              <path
                d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
            </svg>
            Lista camere
          </a>
        </div>
      </div>
    </div>
    }

    @if (isAdmin || isGestore) {
    <div class="col-md-3 d-flex">
      <div class="card text-center w-100 h-100 border-black" style="pointer-events: auto;">
        <img src="https://i.pinimg.com/736x/71/26/7e/71267e196665cb6a2e48310bcf87f2c7.jpg"
          class="card-img-top mx-auto mt-3" style="width: 150px; height: 150px; object-fit: cover;">
        <div class="card-body d-flex flex-column">
          <button type="button" (click)="vaiAlCreaUtente()" class="btn btn-danger w-75 mx-auto">
            Inserisci un nuovo utente
          </button>
          <a class="icon-link icon-link-hover d-inline-flex mx-auto mt-3"
            style="--bs-icon-link-transform: translate3d(0, -.125rem, 0); cursor: pointer;" (click)="vaiAListaUtenti()">
            <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
              <path
                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
              <path
                d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
            </svg>
            Lista utenti
          </a>
        </div>
      </div>
    </div>
    }

    @if (isUtente || isGestore) {
    <div class="col-md-3 d-flex">
      <div class="card text-center w-100 h-100 border-black" style="pointer-events: auto;">
        <img src="https://i.pinimg.com/1200x/70/4b/80/704b80d62581026f6d132e19aef883b9.jpg"
          class="card-img-top mx-auto mt-3" style="width: 150px; height: 150px; object-fit: cover;">
        <div class="card-body d-flex flex-column">
          <button type="button" (click)="vaiAlCreaPrenotazione()" class="btn btn-danger w-75 mx-auto">
            Inserisci una prenotazione
          </button>
          <a class="icon-link icon-link-hover d-inline-flex mx-auto mt-3"
            style="--bs-icon-link-transform: translate3d(0, -.125rem, 0); cursor: pointer;" (click)="vaiAListaPrenotazioni()">
            <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
              <path
                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
              <path
                d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
            </svg>
            Lista prenotazioni
          </a>
        </div>
      </div>
    </div>
    }

  </div>
</div>