
<app-nav-layout></app-nav-layout>

<div class="container d-flex justify-content-center flex-column min-vh-100" style="font-family:'Roboto', sans-serif">

    <h1 class="row justify-content-md-center mb-5"> MODIFICA CAMERA </h1>

    @if (cameraDTO) {
    <div class="row justify-content-md-center">

        <app-form-layout submitLabel="Aggiorna" [showReset]="false" (formSubmit)="updateCamera()"
            (formBack)="VaiAPaginaPrecedente()">

            <div class="input-group mb-4">
                <select class="form-select" aria-label="Default select example" id="numero" name="numero"
                    [(ngModel)]="cameraDTO.postiLetto" class="form-control">

                    <option value="" disabled>Posti letto</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
                <app-form-error [error]="cameraDTO.postiLettoError" />
            </div>

            <div class="input-group mb-4">
                <select id="tipologia" class="form-select" [(ngModel)]="cameraDTO.tipologia" name="tipologia">
                    <option [ngValue]="null" disabled selected>Seleziona tipologia camera</option>
                    @for (tipo of tipologie; track tipo) {
                    <option [ngValue]="tipo">{{ tipo }}</option>
                    }
                </select>
                <app-form-error [error]="cameraDTO.tipologiaError" />
            </div>

            <div class="input-group mb-4">
                <span class="input-group-text fs-5" id="inputGroupPrepend">€</span>
                <input type="text" name="tariffa" class="form-control" aria-label="Amount (to the nearest dollar)"
                    [(ngModel)]="cameraDTO.tariffa" #tariffa="ngModel" placeholder="Tariffa">
                <app-form-error [error]="cameraDTO.tariffaError" />
            </div>

        </app-form-layout>

    </div>
    } @else {
    <p class="row justify-content-md-center">Caricamento camera...</p>
    }

</div>