<nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbarNavDropdown">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">HOMEPAGE @if (this.auth.isGestore()){ • GESTORE}
                @if(this.auth.isAdmin()){ •
                Admin} </a>
        </li>
        @if (auth.isLoggedIn()) {
        <li class="nav-item dropdown" (mouseenter)="openDropdown()" (mouseleave)="closeDropdown()">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ auth.currentUser()}}
            </a>
            <ul class="dropdown-menu" [class.show]="dropdownOpen()">
                <li><a class="dropdown-item" (click)="auth.logout()">Logout</a></li>
            </ul>
        </li>
        }
    </ul>
</nav>


<div class="container d-flex justify-content-center flex-column min-vh-100" style="font-family:'Roboto', sans-serif">

    <h1 class="row justify-content-md-center mb-5"> MODIFICA CAMERA </h1>

    @if (cameraDTO) {
    <div class="row justify-content-md-center">

        <form #form="ngForm" class="col-6 border p-3 rounded">

            <div class="input-group mb-4">


                <select class="form-select" aria-label="Default select example" id="numero" name="numero"
                    [(ngModel)]="cameraDTO.postiLetto" class="form-control">


                    <option value="" disabled>Posti letto</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>


                </select>

                @if (!!this.cameraDTO.postiLettoError) {
                <p style="color:red" class="invalid-feedback d-block">{{cameraDTO.postiLettoError}}</p>
                }
            </div>

            <div class="input-group mb-4">
                <select id="tipologia" class="form-select" [(ngModel)]="cameraDTO.tipologia" name="tipologia">
                    <option [ngValue]="null" disabled selected>Seleziona tipologia camera</option>
                    @for (tipo of tipologie; track tipo) {
                    <option [ngValue]="tipo">{{ tipo }}</option>
                    }
                </select>
                @if (!!this.cameraDTO.tipologiaError) {
                <p style="color:red" class="invalid-feedback d-block">{{cameraDTO.tipologiaError}}</p>
                }
            </div>

            <div class="input-group mb-4">
                <span class="input-group-text fs-5" id="inputGroupPrepend">€</span>
                <input type=text name="tariffa" class="form-control" aria-label="Amount (to the nearest dollar)"
                    [(ngModel)]="cameraDTO.tariffa" #tariffa="ngModel" placeholder="Tariffa">


                @if (!!this.cameraDTO.tariffaError) {
                <p style="color:red" class="invalid-feedback d-block">{{cameraDTO.tariffaError}}</p>
                }

            </div>

            <div class="d-flex justify-content-md-center gap-3 mb-4 mt-5">
                <button type="submit" (click)="updateCamera()" class="btn btn-primary btn-sm">Aggiorna</button>
                <button type="button" (click)="VaiAPaginaPrecedente()" class="btn btn-danger btn-sm">
                    <i class="bi bi-reply"></i>
                </button>
            </div>

        </form>
    </div>
    } @else {
    <p class="row justify-content-md-center">Caricamento camera...</p>
    }



</div>