/* You can add global styles to this file, and also import other style files */
.btn-rosa-antico {
    background-color: #d18081;
    border-color: #d18081;  
    color: white;
}

.btn-rosa-antico:hover {
    background-color: #b25d5f;
    border-color: #b25d5f;
    color: white;
}

.btn-rosa-antico:focus,
.btn-rosa-antico:active {
    background-color: #a86566;
    border-color: #a86566;
    color: white;
    box-shadow: 0 0 0 .25rem rgba(192, 128, 129, .25);
}