/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --testo-principale: #2e1b19;
    --rosa-antico:  #d18081;
       --marrone: #2e1b19;
    --marrone-hover: #261614;
    --marrone-active: #1f1211;
        --testo-chiaro: #fdf3f0;
}

.btn-rosa-antico {
    background-color: #d18081;
    border-color: #d18081;  
    color: white;
}

.btn-rosa-antico:hover {
    background-color: #b25d5f;
    border-color: #b25d5f;
    color: white;
}

.btn-rosa-antico:focus,
.btn-rosa-antico:active {
    background-color: #a86566;
    border-color: #a86566;
    color: white;
    box-shadow: 0 0 0 .25rem rgba(192, 128, 129, .25);
}

a {
      color: var(--rosa-antico) !important;
      text-decoration-color: var(--rosa-antico) !important;
}

a:hover {
    color:  #b25d5f;
    text-decoration: none;
}

.btn-marrone {
    background-color: var(--marrone);
    color:    var(--testo-chiaro);
}

.btn-marrone:hover {
    background-color: var(--marrone-hover);
    border-color: var(--marrone-hover);
    color: white;
}


body {
    background-color: #fdf3f0 ;
    color: var(--testo-principale);
    font-family:'Poppins', sans-serif;
}

.input-group-text {
     color: var(--testo-principale);

}

.icon-link {
    color: var(--testo-chiaro)

}

.btn-elimina {
    background-color:#B55A68;
    color: #FFFFFF;
}

.btn-elimina:hover {
    background-color:#9C4856;
}

.btn-indietro {
    background-color:#8C6A63;
     color: #FFFFFF;

}

.btn-indietro:hover {
    background-color:#73534D ;
}


.btn-add {
    background-color:#A66C84;
     color: #FFFFFF;
}

.btn-add:hover {
    background-color:#B56779;
}

.btn-home {
    background-color: #B8825A;
    color: #FFFFFF;
}

.btn-home:hover {
    background-color:#9F6D48;
}


.btn-update{
    background-color:#A66C84;
    color:  #FFFFFF;


}


.btn-update:hover{
 background-color: #915972;
}

.btn-reset {
    background-color:#9C7A6D;
color: #FFFFFF;
}

.btn-reset:hover{
    background-color: #856458;

}

.btn-checkin {
    background-color: #C97C8D;
    color: #fff;
}

.btn-checkin:hover {
    background-color:#B56779;
    border-color:#B56779;
}


.btn-checkout {
    background-color: #B8825A;
    border-color: #B8825A;
    color: #fff;
}

.btn-checkout:hover {
    background-color: #9F6D48;
    border-color: #9F6D48;
}


