<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbarNavDropdown">

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">HOMEPAGE @if (isGestore){ • GESTORE} @if(isAdmin){ •
        Admin} </a>
    </li>
    @if (auth.isLoggedIn()) {
    <li class="nav-item dropdown" (mouseenter)="openDropdown()" (mouseleave)="closeDropdown()">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ auth.currentUser()}}
      </a>
      <ul class="dropdown-menu" [class.show]="dropdownOpen()">
        <li><a class="dropdown-item" (click)="auth.logout()">Logout</a></li>
      </ul>
    </li>
    }
  </ul>
</nav>

<div style="width: 100%; margin-left: 20px;">
  <table class="table table table-hover">
    <thead>
      <tr>
        <th scope="col-sm-5">CODICE CAMERA</th>
        <th scope="col">POSTI LETTO</th>
        <th scope="col">TIPOLOGIA</th>
        <th scope="col">TARIFFA</th>
        <th scope="col">AZIONI</th>

      </tr>
    </thead>
    <tbody class=" margin-left: 5px; table-group-divider">
      @for (camera of camere; track camera.codiceCamera) {
      <tr>
        <td>{{camera.codiceCamera}}</td>
        <td>{{camera.postiLetto}}</td>
        <td>{{camera.tipologia}}</td>
        <td> € {{camera.tariffa}} </td>
        <td>
          <div class=margin-left: 5px;>
            <button class="btn btn-primary btn-sm me-2" (click)="vaiAllUpdateCamera(camera)"><i
                class="bi bi-pencil-square"></i> </button>
            <button class="btn btn-danger btn-sm" (click)="deleteCamera(camera)"><i class="bi bi-trash"></i></button>
          </div>
        </td>
        <td> </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-md-center gap-3 mb-4 mt-5">
  <button type="button" (click)="VaiAHome()" class="btn btn-danger btn-sm">
    <i class="bi bi-house"></i>
  </button>
  <button class="btn btn-primary" (click)="vaiAlCreaCamera()">
    Aggiungi una nuova camera
  </button>

</div>